.custom-slider {
  @apply appearance-none w-full h-2 bg-gray-300 rounded-lg;
  background-image: linear-gradient(
    to right,
    #4caf50 0%,
    #4caf50 var(--value),
    #ccc var(--value),
    #ccc 100%
  );
}

.custom-slider::-webkit-slider-thumb {
  @apply w-4 h-4 bg-green-600 rounded-full cursor-pointer;
  -webkit-appearance: none;
  appearance: none;
}

.custom-slider::-moz-range-thumb {
  @apply w-4 h-4 bg-green-600 rounded-full cursor-pointer;
}

.custom-slider::-moz-range-track {
  background: none;
}

.custom-slider {
  --value: calc(
    (var(--position) - var(--min)) / (var(--max) - var(--min)) * 100%
  );
}
